.page-header {
    text-align: left;
    margin-bottom: 40px;
}

.page-title {
    font-size: 2.5em;
    margin-left: 20px;
}

.content-wrapper {
    display: flex;
    flex-wrap: nowrap;
}

.sidebar {
    width: 25%;
    padding: 20px;
}

.sidebar .widget {
    margin-bottom: 4.625rem; // 74px
}

.blog-posts {
    width: 75%;
    padding: 20px;
}

.posts-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.post-item {
    width: calc(50% - 20px);
    margin-bottom: 20px;
    background: #fff;
    padding: 10px;
    transition: box-shadow 0.3s ease;
    min-height: 37.5rem; // 600px
    height: fit-content;

    a {
        text-decoration: none;

        h2 {
            color: var(--main-color);
            font-family: Muli, sans-serif;
            font-size: 2.188rem; // 35px
            line-height: 2.563rem; // 41px
            text-align: left;
        }

        p {
            font-family: Muli, sans-serif;
            font-size: 1.25rem; // 20px
            line-height: 2.375rem; // 38px
            text-align: left;
            color: var(--text-color-date-recent-post);
        }
    }
}

.post-item:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.post-item img {
    width: 100%;
    object-fit: cover;
    height: 20.813rem; // 333px
}

.post-title {
    font-size: 1.5em;
    margin-top: 10px;
}

.post-excerpt {
    margin-top: 10px;
    color: #555;
}

.pagination {
    text-align: center;
    margin-top: 20px;

    a {
        padding: 10px 15px;
        background: #0073aa;
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        margin: 0 5px;

        &:hover {
            background: #005880;
        }
    }
}

.comment-respond {
    margin-top: 40px;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.comment-reply-title {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.recent-posts {
    list-style: none;
    padding: 0;
    margin: 0;

    img {
        width: 9.375rem; // 150px
        height: 5.5rem; // 88px
        object-fit: cover;
    }

    li {
        display: flex;
        flex-direction: row;
        gap: 1.688rem; // 27px;
        margin-bottom: 3.125rem; // 50px;

        a {
            text-decoration: none;
            color: var(--text-color-recent-post);
            font-family: Muli, sans-serif;
            font-size: 1.25rem; // 20px
            line-height: 2.125rem; // 34px
            text-align: left;
        }
    }

    .recent-post-content {
        display: flex;
        flex-direction: column;
        height: 100%;

        span {
            font-family: Mulish, sans-serif;
            font-size: 0.813rem; // 13px
            font-weight: 400;
            line-height: 0.813rem; // 13px
            text-align: left;
            color: var(--text-color-date-recent-post);
        }
    }
}

ul.list-categorie,
ul.list-archive {
    list-style-type: none;
    padding: 0;

    a {
        text-decoration: none;
        font-family: Muli, sans-serif;
        font-size: 1.25rem; // 20px
        line-height: 2.375rem; // 38px
        text-align: left;
        color: var(--text-color-date-recent-post);
    }

    li {
        position: relative;
        padding-left: 1.25rem; // 20px
        margin-bottom: 0.625rem; // 10px

        &::before {
            content: "•";
            position: absolute;
            left: 0;
            color: red;
            font-size: 1.25rem; // 20px
            line-height: 1;
            padding-top: 0.625rem; // 10px
        }
    }
}

.search-form .search-field {
    width: 100%;
    font-size: 1rem; // 16px
    border: none;
    border-bottom: 0.063rem solid #ddd; // 1px

    &:focus {
        outline: none;
    }
}

.blog-single-post,
.content-blog {
    padding: 0 6.25rem; // 100px
}